* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 65vw;
    height: 80%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
}

.player {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player--1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.player--2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-active {
    background: rgba(255, 255, 255, 0.4);
    transition: .5s;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
}

.score {
    font-size: 2rem;
    color: #bf2e50;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 20vh;
    background: #bf2e50;
    border-radius: 10px;
    margin-top: 5rem;
}

.current p {
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8vw;
    height: 15vh;
}

.btn {
    text-transform: uppercase;
    border-radius: 20px;
    padding: .5rem;
    background: rgba(255, 255, 255, 0.6);
    outline: none;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.btn:active {
    transform: scale(.98);
}

.label-alter {
    position: absolute;
    top: 85%;
    left: 40%;
    /* transform: translate(-50%, -50%); */
    /* width: 13vw; */
}
.alter {
    position: absolute;
    top: 88%;
    left: 40%;
    /* transform: translate(-50%, -50%); */
    width: 13vw;
    height: 6vh;
    cursor: pointer;
}
label {
    cursor: pointer;
}
.check {
    position: absolute;
    top: 30%;
    left: 75%;
    width: 3vw;
    height: 3vh;
    cursor: pointer;
}


.newGame {
    position: absolute;
    top: 1.5rem;
    left: 42%;
    /* transform: translate(-50%, -50%); */
    width: 10vw;
}

.rollDice {
    position: absolute;
    top: 56%;
    left: 42%;
    /* transform: translate(-50%, -50%); */
    width: 10vw;
}

.hold {
    position: absolute;
    top: 70%;
    left: 44%;
    /* transform: translate(-50%, -50%); */
    width: 7vw;
}

.inpName {
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 10vw;
    font-weight: bold;

}

.inpBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    width: 15vw;
    height: 35vh;
    position: absolute;
    top: 5vw;
    left: 1vw;
    border-radius: 10px;
}

.inp {
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #000;
    background: transparent;
    color: black;
    margin: .7rem;
    padding: .6rem;
    outline: none;
    outline-offset: none;
    
}

h3 {
    padding: .5rem;
}

.hide {
    position: absolute;
    top: 5vw;
    left: -20vw;
    transition: .8s ;
}

.show {
    position: absolute;
    top: 5vw;
    left: 1vw;
    transition: .8s ;
}

.headLine {
    position: absolute;
    top: 0;
    left: 30%;
}

.winner {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #2f2f2f;
    color: #753682;
}
